ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

footer {
  background-color: black;
  color: white;
  height: 50px;
  margin-bottom: 0;
  padding-bottom: 0;
}

h3 {
  text-align: center;
}

h1 {
  margin-top: 0;
}

p, main {
  margin-top: 0;
  padding-top: 0;
}

.container {
  background-color: #f0f0f0;
  padding: 10px;
}

.span {
  column-span: all;
}

.content {
  column-count: 4;
  column-rule: solid black;
  text-align: justify;
  display: block;
}